* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fefefe;
}

span {
    color: #c6bcf2c4;
}

.hero h1{
    font-size:40px ;
    font-weight: 500;
    margin-top: -50px ;
    margin-bottom:50px ;
}